.Academics__Section{
    width:100%;
}
.Academics__Banner{
    width:100%;
    height:500px;
    position:relative;
}
.Academics__Banner > img{
    width:100%;
    height:100%;
}
.Banner__Text{
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) !important;
}
.Academic__Journey{
    height:500px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:20px 0;

}
.Academic__Journey>h2{
    color:#10439F;
}
.AcademicJourney__Options{
    display:flex;
    background-color:#e3e3e3;
    height:100px;
    width:80%;
    justify-content:space-around;
    align-items:center;
    color:#A09E9E;
}
.OptionsFk2{
    height:100%;
    width:100%;
    display:grid;
    place-items:center;
    cursor:pointer;
}
.Academic__FeaturesContainer{
    display:flex;
    flex-wrap:wrap;
    width:80%;
    height:100%;
    gap:1rem;
    align-content:flex-start;
    padding:2.5%;
    padding-bottom:0;
    justify-content:center;
}

















.Subcomponent{
    display:flex;
    height:50px;
    width:300px;
    align-items:center;
    text-align:left;
}
.Subcomponent:hover>img{
    transform:scale(1.1);
}
.Subcomponent>p{
    width:75%;
    margin-left:5px;
}
.Subcomponent>img{
    height:100%;
    width:25%;
}
.Academic__Curriculum{
    height:500px;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    padding:0 80px 40px 80px;;
    box-sizing:border-box;
}
.Academic__Curriculum>h1{
    color:#10439F;
}
.Curriculum__Cards{
    display:flex;
    width:100%;
    flex-wrap:wrap;
    align-content:flex-start;
    margin-top:10px;
}
.Curriculum__Card{
    height:200px;
    width:200px;
}



@media only screen and ( max-width:600px ) {

       
    .Academic__Journey>h2{
        text-align:center;
        margin:0;
        margin:10px;
    }
    .AcademicJourney__Options{
            height:60px;
    }
    .Subcomponent{
        width:170px;
    }
    .Academic__FeaturesContainer{
        gap:0.2rem;
        justify-content: space-around;
        align-content:normal;
    }
    .Academic__Curriculum{
        padding:20px;
        height:max-content;
    }
    .Curriculum__Card{
        width:175px;
        height:150px;
       
    }
    .Curriculum__Cards{
        margin-top:30px;
        justify-content:space-around;
    }
    

}