body{
    margin:0;
    padding:140px 0 0 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    overflow-x:hidden;

}
h1{
    margin:0 0 5px 0;
}
html,body{
width:100vw;
}